.span-fake-link {
  color: #0d6efd;
  text-decoration: underline;
}

.span-fake-link:hover {
  cursor: pointer;
}

.listed-item-container {
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px 25px 20px 25px;
  margin-top: 20px;
}

.listed-item-container:hover {
  border: 2px solid #0d6efd;
  cursor: pointer;
}

.skinny-item-container {
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px 15px 0px 15px;
  margin-top: 20px;
}

.skinny-item-container-no-highlight {
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px 15px 0px 15px;
  margin-top: 20px;
}

.skinny-item-container-selected {
  border: 2px solid #0d6efd;
}

.skinny-item-container:hover {
  border: 2px solid #0d6efd;
  cursor: pointer;
}

.no-margin {
  margin: 0;
}

.page-title {
  margin-top: 25px;
  margin-bottom: 25px;
}

.secondary-color {
  color: #707070;
}
